# requirements.in
boto3
click
piexif
geopy
flask-cli
gunicorn
raven[flask]
-e git+https://github.com/LegumeFederation/supervisor.git@4.0.0#egg=supervisor==4.0.0
superlance
healthcheck
htpasswd
coverage
supervisor-wildcards
