# requirements.in
boto3
click
coverage
flask-cli
flask-dropzone
geopy
gunicorn
healthcheck
htpasswd
piexif
raven[flask]
requests
superlance
-e git+https://github.com/LegumeFederation/supervisor.git@4.0.0#egg=supervisor==4.0.0
supervisor-wildcards
