<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110098081-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-110098081-1');
    </script>
    <!-- End of Google Analytics -->
    <meta charset="UTF-8">
    <title>Funyun Celebrity Recognizer</title>
    {{ dropzone.load(version='5.2.0') }}
    {{ dropzone.style('border: 2px dashed #0087F7; margin: 0; height: 270px; width:270px;') }}
</head>
<body>
   <h1>Do you look like a celebrity?</h1>
   <table style=""width:100%">
   <tr>
     <td>
         {{ dropzone.create(action_view='recognize') }}
     </td>
     <td>

     </td>
     <td>
     </td>
   </tr>
   </table>
</body>
</html>
